<div class="container-fluid bg-dark m-0" style="height: 100vh;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <h1 class="text-center text-light col-6 border border-light pt-2 pb-2 mt-5 mb-4">OPCIONES DE ADMINISTRADOR</h1>
            <div class="row justify-content-center mt-5 pt-5" style="height: 80vh;">
                <div class="col-3 text-light">
                    <div class="d-grid gap-2">
                        <a href="/admin/categorias" class="btn btn-secondary">CATEGORÍAS ABM</a>
                        <a href="/admin/productos" class="btn btn-secondary mt-3">PRODUCTOS ABM</a>
                        <a href="/admin/empleados" class="btn btn-secondary mt-3">EMPLEADOS ABM</a>
                        <a href="/admin/usuarios" class="btn btn-secondary mt-3">VER USUARIOS</a>
                        <a href="/admin/contacto" class="btn btn-secondary mt-3">VER MENSAJES</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>