<div class="container-fluid bg-light m-0" style="height: 100vh;">
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height: 80vh">
            <img src="/images/burguerIndex1.JPG" alt="" class="" style="height: 48rem;">
        </div>
    </div>
</div>

