<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <a href="/" class="btn btn-secondary col-1">VOLVER A HOME</a>
            <h1 class="text-danger text-center">NECESITA SER ADMINISTRADOR <br> PARA ACCEDER.</h1>
            <img src="/images/error-401.png" class="rounded mx-auto d-block mb-5" alt="No se encuentra la imagen..." style="height: 85vh;">
        </div>
    </div>
</div>